@import '../utils/mixins';

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.react-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 500px;
  max-width: 100%;
}

.button-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 20px;

  .submit-btn {
    @include primary-button;

    &:disabled {
      background-color: #4ea3f0;
      color: #fff;
      cursor: not-allowed;
    }
  }
  
  .cancel-btn {
    @include cancel-button;
  }
}
