@import '../utils/variables';

.order-list-section {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .order-list {
    list-style-type: none;
    padding: 0;

    .order-item {
      margin: 30px 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      background-color: #f9f9f9;

      &:hover {
        box-shadow: 10px 10px $primary-color;
      }

      .order-link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }

      .total {
        margin-top: 20px;
      }
    }
  }
}